.cont{
  position: relative;
  text-align: center;
}
#welcome{
  width: 100%;
}
.welcome{
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.services{
  background-image: url("../assets/backgrounds/s_image.jpg");
}
.contactUs{
  background-image: url("../assets/backgrounds/c_image.jpg");
}
.form-group{
  opacity: 0.6;
}
