
#header2{
  text-align: center;
}
#logo{
  padding: 25px;
}
.container{
  position: relative;
  text-align: center;
  width: auto;
}
#welcome{
  width: 100%;
}
.welcome{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.card{
  border: none;
  float: left;
}
#icons{
  padding: 40px;
}
#icons .img{
  width:  32;
  height: 32;
}
#icon1{
  display: none;
}
#icon2{
  display: none;
}
#icon3{
  display: none;
}
.services{
  width: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
#services img{
    object-fit: cover;
}

#contactUs{
  width: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.form-group{
  opacity: 0.6;
}
#socialIcons{
  padding: 40px;
}
